<section class="hero">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>FIND THE COMMUNITY</strong>
          <span>that <b>fits your lifestyle.</b></span>
        </h2>
      </div>
      <div class="col">
        <p class="text-read-more">Our <b>SmartSearch map</b> allows you to see which communities
          can offer the lifestyle you’re looking for. Just click on the
          Lifestyle dropdown and select the options that are important to
          you — the heat map will automatically update to show you the
          areas that meet your criteria. Remember the greener the map,
          the closer it is to what you want!</p>
          <a class="button button-read-more">
            <span>Read more</span>
            <svg viewBox="0 0 32 32" width="32" height="32">
              <path d="M12,25a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L18.59,16l-7.3-7.29a1,1,0,1,1,1.42-1.42l8,8a1,1,0,0,1,0,1.42l-8,8A1,1,0,0,1,12,25Z"/>
            </svg>
          </a>
      </div>

    </div>
  </div>

</section>

<section class="map">
  <img src="./assets/images/search-map/map.png"/>
</section>

<section class="hero-2">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title"><strong>COMPARE COST OF LIVING</strong></h2>
        <p>Affordability is an important part of finding your new home. Here you can compare costs and demographics between areas you might be considering.</p>
      </div>
    </div>
  </div>

</section>
