@import '../../styles/vars';

// SECTIONS
section{
  padding: 0;
}
section.section-hero{
  background-color: $main;

  // layout
  .row{
    .col{

    }
  }

  .section-title{
    strong{
      color: $yellow;
    }
  }

  .btn-circle{
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.sections{

  padding: 50px 0;
  >.container{
    display: flex;
    flex-direction: column;
  }
  @media( min-width: 992px ){
    padding: 0;
  }
}

section.section-demographics{
  .row{
    width: 100%;
    flex-direction: column;
    .col{
      flex-grow: 1;
      align-items: center;
      margin-bottom: 30px;
    }
    @media( min-width: 992px ){
      flex-direction: row;
      .col{
        margin-bottom: 0;
      }
    }
  }
}

section.section-market-trends,
section.section-schools,
section.section-demographics,
section.section-education,
section.section-rent,
section.section-businesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media( min-width: 992px ){
    padding: 50px 0 100px;
  }
}

section{
  &.section-bordered{
    padding-top: 22px;
    border-top: solid 2px #b6b6b6;
  }
}

// ------------
// COMPONENTS
// ------------

// NAV LINKS
.nav-links{
  display: none;
  justify-content: space-around;
  width: 100%;
  border: solid 1px #b6b6b6;
  li{
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;

    color: #898989;
    text-transform: uppercase;
    padding: 10px 20px;
  }
  @media( min-width: 992px ){
    display: flex;
  }
}

// TABS CONTROLS
.tabs-schools{
  display: flex;
  flex-direction: column;
  width: 100%;

  .top{
    display: flex;
  }
  ul.tabs-schools-controls{
    flex-grow: 1;
    display: flex;
    li{
      display: flex;
      justify-content: center;
      flex: 1 0 0;
      border-bottom: 2px solid #d1d1d1;
      button{
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1){
          color: #d1d1d1;
          font-size: 82px;
          line-height: 0.73;
          font-family: FreightSansProBlack;
          margin-bottom: 30px;
        }
        span:nth-child(2){
          font-family: FreightSansProSemibold;
          font-size: 14px;
          margin-bottom: 20px;
          color: #d1d1d1;
        }
      }
      &.active{
        border-bottom: 3px solid #000;
        button{
          span:nth-child(1){
            color: #fd0;
          }
          span:nth-child(2){
            color: #000;
            font-weight: 900;
          }
        }
      }
    }
  }
  .tab{
    padding: 65px 0;
  }
}

// CHART ITEM
.chart-item{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
  @media( min-width: 992px ){
    flex-direction: row;
  }
  .icon{
    @media( min-width: 992px ){
      margin-right: 50px;
    }
  }
  figure.chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 300px;
      @media( min-width: 992px ){
        width: 450px;
      }
    }
    figcaption{
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 14px;

    }
  }
}

// WIDGET
.widget{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media( min-width: 992px ){
    flex-direction: row;
  }
  img{
    margin-bottom: 20px;
    width: 125px;
    height: 89px;
    @media( min-width: 992px ){
      margin-right: 35px;
    }
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;

    span:nth-child(1){
      display: block;
      font-size: 82px;
      font-family: FreightSansProBlack;
      line-height: 0.73;
      letter-spacing: -3.28px;
      color: #ffdd00;
      margin-bottom: 20px;
    }
    span:nth-child(2){
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

// ACCORDION
label.accordion-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h3{
    text-align: center;
    font-size: 36px;

  }
  .icon{
    width: 30px;
    height: 30px;
  }
  @media( min-width: 992px ){
    margin-bottom: 20px;
    justify-content: center;
    pointer-events: none;
    .icon{
      display: none;
    }
  }
}

.content{
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  @media( min-width: 992px ){
    display: flex;
  }
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked~.content{
  display: flex;
}
input[type="checkbox"]:checked~.accordion-title>.icon{
  transform: rotate( 90deg );
}

