<section class="section-hero">

  <div class="container">
    <h2 class="section-title">
      <strong>Gold Coast</strong>
    </h2>
    <p>Representing the utmost in convenience and elegance, the well-known Gold Coast neighborhood is located just one mile from the Loop with access to magnificent shopping, world-class dining, and a short walk to Oak Street beach and Lake Michigan. High-rise condominiums with rooftop patios overlook Chicago’s Gold Coast lakefront. There are also low-rise residential blocks inland that are just a few steps away from Chicago’s Magnificent Mile. Some of the most notable celebrities enjoy living in the Gold Coast of Chicago.</p>
    <p><b>Learn more about the community.</b>
      <a class="btn-circle" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </p>
  </div>

</section>

<section class="section-map">
  <img src="./assets/images/search-map/map.png"/>
</section>

<div class="sections">
  <div class="container">

    <ul class="nav-links">
      <li><a (click)="onClick('trends')">Market Trends</a></li>
      <li><a (click)="onClick('demographics')">Demographics</a></li>
      <li><a (click)="onClick('schools')">Schools</a></li>
      <li><a (click)="onClick('education')">Education</a></li>
      <li><a (click)="onClick('rent')">Rent vs. Own</a></li>
      <li><a (click)="onClick('businesses')">Yelp Reviews</a></li>
    </ul>

    <!-- MARKET TRENDS -->
    <section class="section-market-trends" id="trends">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-1" name="section-1">

      <label class="accordion-title" for="section-1">
        <h3>Gold Coast <b>Market Trends</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">
        <div class="chart-item">
          <img class="icon" src="./assets/images/neighborhood/icons/calendar.png" alt="">

          <app-chart
            [data]="data ? data[1]['yearly_chart_data']['average_days'] : null"
            [label]="'Average days'"
            [chartType]="'line'"
          ></app-chart>


          <!-- <figure class="chart">
            <img src="./assets/images/neighborhood/charts/chart1.png" alt="">
            <figcaption>Average Time on Market</figcaption>
          </figure> -->
        </div>

        <div class="chart-item">
          <img class="icon" src="./assets/images/neighborhood/icons/sold.png" alt="">

          <app-chart
            [data]="data ? data[1]['yearly_chart_data']['average_price'] : null"
            [label]="'Average price'"
            [chartType]="'line'"
          ></app-chart>

          <!-- <figure class="chart">
            <img src="./assets/images/neighborhood/charts/chart2.png" alt="">
            <figcaption>Average Sales Price</figcaption>
          </figure> -->
        </div>

        <div class="chart-item">
          <img class="icon" src="./assets/images/neighborhood/icons/houses.png" alt="">

          <app-chart
            [data]="data ? data[1]['yearly_chart_data']['total_listings'] : null"
            [label]="'Total listings'"
            [chartType]="'line'"
          ></app-chart>

          <!-- <figure class="chart">
            <img src="./assets/images/neighborhood/charts/chart3.png" alt="">
            <figcaption>Properties for Sale</figcaption>
          </figure> -->

        </div>
      </div>

    </section>

    <section class="section-demographics section-bordered" id="demographics">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-2" name="section-2">

      <label class="accordion-title" for="section-2">
        <h3>Gold Coast <b>Demographics</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">
        <div class="row">
          <div class="col">
            <div class="widget">
              <img src="./assets/images/neighborhood/icons/people.png" alt="">
              <div class="text">
                <span>20K</span>
                <span>Total Individuals</span>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="widget">
              <img src="./assets/images/neighborhood/icons/household-income.png" alt="">
              <div class="text">
                <span>$984K</span>
                <span>Household Income</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="section-schools section-bordered" id="schools">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-3" name="section-3">
      <label class="accordion-title" for="section-3">
        <h3>Gold Coast <b>Schools</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">

        <ng-container *ngIf="isLoadingData">
          <span>Loading Schools</span>
        </ng-container>

        <ng-container *ngIf="data">
          <div class="tabs-schools">

            <div class="top">
              <div class="icon">
                <img src="./assets/images/neighborhood/icons/school.png" alt="">
              </div>

              <ul class="tabs-schools-controls">

                <ng-container *ngIf="preSchoolsCount">
                  <li [ngClass]="{'active':generalService.tabSchool === 'tab1'}">
                    <button (click)="selectSchoolTab('tab1')">
                      <span>{{ preSchoolsCount }}</span>
                      <span>PRESCHOOLS</span>
                    </button>
                  </li>
                </ng-container>

                <ng-container *ngIf="elementarySchoolsCount">
                  <li [ngClass]="{'active':generalService.tabSchool === 'tab2'}">
                    <button (click)="selectSchoolTab('tab2')">
                      <span>{{ elementarySchoolsCount }}</span>
                      <span>ELEMENTARY SCHOOLS</span>
                    </button>
                  </li>
                </ng-container>

                <ng-container *ngIf="middleSchoolsCount">
                  <li [ngClass]="{'active':generalService.tabSchool === 'tab3'}">
                    <button (click)="selectSchoolTab('tab3')">
                      <span>{{ middleSchoolsCount }}</span>
                      <span>MIDDLE SCHOOLS</span>
                    </button>
                  </li>
                </ng-container>

                <ng-container *ngIf="highSchoolsCount">
                  <li [ngClass]="{'active':generalService.tabSchool === 'tab4'}">
                    <button (click)="selectSchoolTab('tab4')">
                      <span>{{ highSchoolsCount }}</span>
                      <span>HIGH SCHOOLS</span>
                    </button>
                  </li>
                </ng-container>

              </ul>

            </div>

            <div class="tabs">
              <ng-container *ngIf="generalService.tabSchool==='tab1' && preSchoolsCount">
                <div class="tab">
                  <app-table [rows]="data[1]['schools']['pre']"></app-table>
                </div>
              </ng-container>
              <ng-container *ngIf="generalService.tabSchool==='tab2' && elementarySchoolsCount">
                <div class="tab">
                  <app-table [rows]="data[1]['schools']['elementary']"></app-table>
                </div>
              </ng-container>
              <ng-container *ngIf="generalService.tabSchool==='tab3' && middleSchoolsCount">
                <div class="tab">
                  <app-table [rows]="data[1]['schools']['middle']"></app-table>
                </div>
              </ng-container>
              <ng-container *ngIf="generalService.tabSchool==='tab4' && highSchoolsCount">
                <div class="tab">
                  <app-table [rows]="data[1]['schools']['high']"></app-table>
                </div>
              </ng-container>
            </div>

          </div>
        </ng-container>

      </div>

    </section>

    <section class="section-education section-bordered" id="education">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-4" name="section-4">
      <label class="accordion-title" for="section-4">
        <h3>Gold Coast <b>Education</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">
        <!-- <img width="50%" src="./assets/images/neighborhood/charts/pie-1.png" alt=""> -->

        <app-chart
          [data]="data ? data[1] : null"
          [label]="'Total listings'"
          [chartType]="'pie'"
        ></app-chart>

      </div>

    </section>

    <section class="section-rent section-bordered" id="rent">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-5" name="section-5">
      <label class="accordion-title" for="section-5">
        <h3>Gold Coast <b>Rent vs. Own</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">
        <app-chart
          [data]="data ? data[1] : null"
          [label]="'Total listings'"
          [chartType]="'pie'"
        ></app-chart>
      </div>
      <!-- <div class="content">
        <img width="50%" src="./assets/images/neighborhood/charts/pie-2.png" alt="">
      </div> -->

    </section>

    <section class="section-businesses section-bordered" id="businesses">

      <!-- ACCORDION ITEM -->
      <input type="checkbox" id="section-6" name="section-6">
      <label class="accordion-title" for="section-6">
        <h3>Gold Coast <b>Local Businesses</b></h3>
        <svg class="icon" viewBox="0 0 320 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
      </label>

      <div class="content">

        <!-- <app-slider class="swiper-container"></app-slider> -->
        <app-swiper-old class="swiper-component"></app-swiper-old>

      </div>

    </section>

  </div>
</div>








