<table class="table">
  <thead>
    <tr>
      <th>SCHOOLS</th>
      <th>PHONE</th>
      <th>TYPE</th>
      <th>GRADES</th>
      <th>RATING</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
  </tbody>
</table>
