<div class="table">

  <div class="thead">
    <div class="trow">
      <div class="th">SCHOOLS</div>
      <div class="th">PHONE</div>
      <div class="th">TYPE</div>
      <div class="th">GRADES</div>
      <div class="th">RATING</div>
    </div>
  </div>

  <div class="tbody">
    <div *ngFor="let row of rows" class="trow">
      <div class="td">{{ row }}</div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"><img src="./assets/images/neighborhood/icons/stars.png" alt=""></div>
    </div>
  </div>

</div>

<!-- <table>
  <thead>
    <tr>
      <th>SCHOOLS</th>
      <th>PHONE</th>
      <th>TYPE</th>
      <th>GRADES</th>
      <th>RATING</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
    <tr>
      <td>Henry Winkelman ElementarySchool</td>
      <td>123-555-2424</td>
      <td>Public</td>
      <td>KG-5</td>
      <td><img src="./assets/images/neighborhood/icons/stars.png" alt=""></td>
    </tr>
  </tbody>
</table> -->
