@import '../../styles/vars.scss';

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #898989;
  padding: 22px 60px 0px 0;


  .link-logo{
    display: flex;
    margin-bottom: -22px;
    img{
      width: 97px;
    }
  }

  ul{
    display: flex;
    li{
      a{
        padding: 0 25px;
        transition: 0.3s color;
        &:hover{
          color: $main;
        }
      }
    }
  }
}
