<div class="nav-header">
  <div class="container">
    <nav>

      <a class="link-logo" routerLink="/">
        <img src="./assets/images/logo.jpg" alt="logo">
      </a>

      <ul class="menu" [class.is-open]="isMenuOpen">
        <li><a href="/">Smart Search Map</a></li>
        <li><a href="/">Why Chicagoland</a></li>
        <li><a routerLink="/illinois-law" routerLinkActive="link-active">About Illinois Real Estate</a></li>
        <li><a routerLink="/why-relo" routerLinkActive="link-active">Why Baird & Warner</a></li>
        <li><a href="/">Contact Us</a></li>
        <li class="tel"><a href="tel:321.456.1855"><img src="./assets/images/nav-header/phone.png"/>321.456.1855</a></li>
        <li class="cta"><a class="button" href="/">Connect with agent</a></li>
      </ul>

      <app-burger (click)="toggleMenu()" [isActive]="isMenuOpen"></app-burger>
    </nav>
  </div>
</div>
