@import '../../styles/vars.scss';

.nav-header{
  background-color: #F5F5F5;
  width: 100%;
  @media ( min-width: 1200px ){
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px 0px 0px;

  @media ( min-width: 1200px ){
    padding: 22px 0px 0px 0px;
  }

  .link-logo{
    display: flex;
    flex: 1 0 auto;
    margin-bottom: -22px;
    img{
      width: 97px;
    }
  }

  //common
  ul.menu{
    li{
      display: flex;
      a:not(.button){
        transition: 0.3s color;
        white-space: nowrap;
        position: relative;
        &:hover{
          color: $main;
        }
        &::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $main;
          display: none;
        }
        &.link-active{
          font-weight: 700;
          &::before{
            display: block;
          }
        }
      }
    }
  }

  //mobile
  ul.menu{
    transform: translateX( -200% );
    transition: 0.3s transform;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #181818;
    width: 100%;
    height: 100%;
    color: $white;
    font-size: 30px;
    &.is-open{
      transform: translateX( 0% );
    }
    li{
      flex: 1 0 100%;
      justify-content: center;

      a:not(.button){
        padding: 10px 0;
        &.link-active{
          color: $main;
        }
      }
      &.tel{
        margin-top: 20px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            margin-right: 20px;
          }
        }
      }
      &.cta{
        margin-top: 20px;
        color: $black;
      }
    }
  }

  // desktop
  ul.menu{
    @media ( min-width: 540px ){
      font-size: inherit;
    }
    @media ( min-width: 1200px ){
      font-size: 18px;
      position: static;
      flex-wrap: nowrap;
      background-color: transparent;
      transform: none;
      width: auto;
      color: #898989;
      li{
        flex: 1 0 auto;
        padding: 0 25px;

        a:not(.button){
          padding: 0;
          &.link-active{
            color: $black;
          }
        }
        &.tel{
          display: none;
        }
        &.cta{
          display: none;
        }
      }
    }
  }


}
