@import '../../styles/vars';

section.section-1{
  padding: 50px 0;
  @media( min-width: 1200px ){
    background-image: url('../../assets/images/why-chicagoland/section-1.png');
    background-size: auto 100%;
    background-position: right 0;
  }

  // layout
  >.container{
    flex-wrap: wrap;
    >.row{
      flex: 1 0 100%;
      >.col{
        flex: 0 0 100%;
        @media( min-width: 1200px ){
          flex: 0 0 60%;
        }
      }
    }
  }

  // elements
  .section-title{
    strong{
      @media( min-width: 576px ){
        font-size: 80px;
      }
      @media( min-width: 1200px ){
        font-size: 101px;
      }
    }
  }
  h3{
    margin-bottom: 20px;
    font-size: 40px;
  }
  h3,small{
    margin-left: 0px;
    @media ( min-width: 1200px ){
      margin-left: 100px;
    }
  }
  p{
    margin-bottom: 50px;
  }
}

section.section-2{
  background-color: $main;

  background-image: url('../../assets/images/why-chicagoland/section-2.png');
  background-position: left bottom;
  background-size: 80% auto;

  padding: 50px 0 250px;

  @media( min-width: 768px ){
		background-size: 50% auto;
    padding: 50px 0 400px;
	}
  @media ( min-width: 1200px ){
    background-size: auto 100%;
    padding: 50px 0;
  }

  // layout
  >.container{
    flex-wrap: wrap;
    >.row{
      justify-content: flex-end;
      >.col{
        flex: 1 0 100%;
        @media ( min-width: 1200px ){
          flex: 0 0 55%;
        }
      }
    }
  }

  // elements
  .section-title{
    margin-bottom: 30px;
    strong{
      color: $yellow;
    }
    @media( min-width: 576px ){
      font-size: 80px;
    }
  }
  small{
    @media ( min-width: 1200px ){
      padding: 0 100px;
    }
  }

}

section.section-3{
  color: $white;
  padding: 50px 0;

  background-image: url('../../assets/images/why-chicagoland/section-3.png');
  background-size: cover;
  @media ( min-width: 1200px ){
    background-position: right top;
  }

  // elements
  .section-title{
    margin-bottom: 30px;
    @media( min-width: 576px ){
      font-size: 80px;
    }
  }
  small{
    @media ( min-width: 1200px ){
      padding: 0 100px;
    }
  }
}

section.section-4{
  padding: 50px 0 300px;

  background-image: url('../../assets/images/why-chicagoland/section-4.png');
  background-size: 100% auto;
  background-position: left bottom;

  @media( min-width: 768px ){
    padding: 50px 0 600px;
	}
  @media ( min-width: 1200px ){
    background-size: auto 100%;
    padding: 50px 0;
  }

  // layout
  >.container{
    flex-wrap: wrap;
    >.row{
      justify-content: flex-end;
      >.col{
        flex: 1 0 100%;
        @media( min-width: 1200px ){
          flex: 0 0 55%;
        }
      }
    }
  }

  // elements
  .section-title{
    margin-bottom: 30px;
  }
  small{
    @media ( min-width: 1200px ){
      padding: 0 100px;
    }
  }
}

section.section-5{
  padding: 50px 0;
  color: $white;

  background-image: url('../../assets/images/why-chicagoland/section-5.png');
  background-size: cover;

  @media ( min-width: 1200px ){
    background-position: left top;
  }

  // layout
  >.container{
    flex-wrap: wrap;
    >.row{
      justify-content: flex-end;
      column-gap: 20px;
      flex-wrap: wrap;
      @media ( min-width: 768px ){
        padding-left: 100px;
        padding-right: 100px;
      }
      >.col{
        flex: 1 0 100%;
        margin-bottom: 30px;
      }
      @media ( min-width: 1200px ){
        flex-wrap: nowrap;
        >.col{
          flex: 1 0 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .section-title{
    margin-bottom: 30px;
  }
}

section.section-6{
  padding: 50px 0;
  background-image: url('../../assets/images/why-chicagoland/section-6.png');
  background-size: cover;
  background-position: right top;

  @media ( min-width: 1200px ){
  }

  // layout
  >.container{
    >.row{
      justify-content: flex-end;
      >.col{
        flex: 1 0 100%;
      }
      @media ( min-width: 1200px ){
        >.col{
          flex: 0 0 50%;
        }
      }
    }
  }

  // elements
  p{
    display: flex;
    flex-direction: column;
    >*{
      margin-bottom: 10px;
    }
  }
}

// HERO 5
section.hero-7{
  background-color: $main;
  padding: 0;

  // layout
  >.container{
    >.row{
      height: 100%;
      >.col:nth-child(1){
        order: 1;
        background-image: url('../../assets/images/home/home-hero-5.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 400px;
        @media ( min-width: 768px ){
        }
        @media ( min-width: 1200px ){
          order: 0;
          background-size: contain;
          min-height: auto;
        }
      }
      >.col:nth-child(2){
        order: 0;
        justify-content: center;
        padding: 25px 0;
        @media ( min-width: 1200px ){
          order: 1;
          padding: 50px 0;
          height: 100%;
        }
      }
    }
  }

  // elements
  .section-title{
    strong{
      color: $yellow;
    }
  }
}
