<section class="section-1">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span><b>Chicagoland:</b></span>
          <strong>Something for everyone</strong>
        </h2>
        <p>The Chicagoland region is made up of over 300 suburbs circling around the city of Chicago. The city of Chicago is a diverse area with more than 77 unique neighborhoods. Here you’ll find world class entertainment, museums, dining, public transportation, and more. With so much to offer, there’s something for everyone — we know we can find the perfect place for you.</p>
        <h3 class="underlined">The Highlights</h3>
        <small><b>Conde Nast</b> repeatedly puts Chicago on their <b>Best Big City in the US</b> list for a reason. The city offers great public transportation, more than <b>80 James Beard Award-winning</b> restaurants and chefs, 26 miles of lakefront trails with 15 miles of beaches. Beyond that, many of Chicagoland’s suburbs have been rated in the <b>Top 100</b> for lifestyle and educational opportunities.</small>
      </div>
    </div>
  </div>

</section>

<section class="section-2">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>Culture, lifestyle and entertainment.</strong>
        </h2>
        <small>Chicago is known for its wonderful <b>culture and recreation opportunities</b>, the food and dining scene, live entertainment, and shopping along the famous <b>Magnificent Mile</b>. The city has 200 live theaters, 50 world-class museums, and free access to the renowned <b>Lincoln Park Zoo</b>.</small>
      </div>
    </div>
  </div>

</section>

<section class="section-3">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span class="pretitle"><b>Another</b> job seeker</span>
          <strong>moving with you?</strong>
        </h2>
        <small>Chicago has one of the world’s largest and most diversified economies — no single industry makes up more than 14% of the economy, making it easier to find jobs in a lot of different areas of work.
          Chicago O’Hare airport regularly is one of the ost connected airports in the country, and the world, which makes it a great location for business travelers.
          All of this is part of why Chicago has been rated the #1 top US city for corporate relocations and expansions for close to 10 years.
          </small>
      </div>
    </div>
  </div>

</section>

<section class="section-4">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>Education opportunities</strong>
        </h2>
        <small>Chicagoland has nationally recognized elementary and high school districts, as well as world-class colleges and universities.</small>
        <small><b>Learn more about Illinois State Board of Education.</b></small>
      </div>
    </div>
  </div>

</section>

<section class="section-5">

  <div class="container">
    <h2 class="section-title">
      <strong>Transportation</strong>
    </h2>
    <div class="row">
      <div class="col">
        <small><b>Public:</b></small>
        <small>The Chicago Transit Authority (CTA) is the city’s public bus and train system.</small>
        <small>Metra Commuter Rail System is a series of train lines that connects the suburbs to the city.</small>
      </div>
      <div class="col">
        <small><b>Airports:</b></small>
        <small>O’Hare International Airport is regularly one of the most connected airports in the world. It’s also accessible by the CTA Blue Line.</small>
        <small>Midway International Airport is accessible by the CTA Orange Line.</small>
      </div>
      <div class="col">
        <small><b>Personal:</b></small>
        <small>Divvy Chicago Bike Share</small>
        <small>Lime Micromobility Electric Scooters</small>
      </div>
    </div>
  </div>

</section>

<section class="section-6">

  <div class="container">

    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>Area hospitals</strong>
        </h2>
        <p>
          <small>Chicago has a total of 110 hospitals, including 48 teaching hospitals. Here are some of the top facilities and systems in the city and suburbs:</small>
          <small><b>Northwestern Medicine</b></small>
          <small><b>Lurie Children’s Hospital</b></small>
          <small><b>Prentice Women’s Hospital</b></small>
          <small><b>Rush Medical Group</b></small>
          <small><b>University of Chicago Medicine</b></small>
          <small><b>North Shore University Health System</b></small>
          <small><b>Advocate Health</b></small>
          <small><b>Loyola Medicine</b></small>
          <small><b>Amita Health</b></small>
        </p>
      </div>
    </div>

  </div>

</section>

<section class="hero hero-7">
  <div class="container">

    <div class="row">

      <div class="col">
      </div>

      <div class="col">
        <h2 class="section-title">
          <span>Find the <b>community</b></span>
          <span>that feels like</span>
          <strong>HOME</strong>
        </h2>
        <p>With our smartsearch community finder, you can search by lifestyle, commute, shopping and more. Our goal is to go beyond helping you find a house — let's find a community that feels like home.</p>
        <a class="button" href="/">Search Now</a>
      </div>
    </div>

  </div>
</section>

