@import './vars';

button.button, a.button {
  border-radius: 30px;
  box-shadow: -0.9px 0.5px 3px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient( #FFDD00, #FFE769);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  transition: 0.3s box-shadow;
  font-family: 'FreightSansProSemibold', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 15px 50px;
  &.style-2{
    background-image: linear-gradient( #E4AC00, #E8B900);
    &:hover{
      background-image: linear-gradient( #FFDD00, #FFE769);
    }
  }

  &:hover{
    box-shadow: -0.9px 0.5px 3px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient( #E4AC00, #E8B900);
    color: $black;
  }

  @media ( min-width: 768px ){
    padding: 15px 70px;
  }
  @media ( min-width: 1200px ){
    padding: 10px 40px;
  }
}
