@import './vars';

form{
  margin-bottom: 20px;
  font-family: 'FreightSansProBook';

  .line{
    width: 100%;
    height: 1px;
    background-color: $grey1;
  }

  .button-accordion{
    display: flex;
    align-items: center;
    span{
      margin-right: 15px;
    }
    &.active{
      svg{
        transform: rotate( -180deg );
      }
    }
  }

  legend{
    margin-bottom: 40px;
    flex: 1 0 100%;
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    font-family: 'FreightSansProSemibold';
    letter-spacing: -1px;
    @media( min-width: 600px ){
      font-size: 30px;
    }
  }

  fieldset{
    display: flex;
    flex-direction: column;
    font-family: inherit;

    label{
      font-size: 24px;
      @media( min-width: 600px ){
        font-size: 36px;
      }
    }

    input.input-text{
      font-family: 'FreightSansProBook';
      border: 2px solid $grey1;
      border-radius: 6px;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      @media( min-width: 600px ){
        font-size: 24px;
      }
      &:focus{
        border-color: $yellow;
        box-shadow: 0px 0px 5px 0px rgba(243,196,4,1);
      }
    }
    textarea{
      border: 1px solid $grey1;
      border-radius: 6px;
      padding: 15px 10px;
      font-size: 16px;
      font-family: 'FreightSansProBook';
      height: 163px;
      width: 100%;
      @media( min-width: 600px ){
        font-size: 24px;
        padding: 24px 16px;
      }
      &:focus{
        border-color: $yellow;
        box-shadow: 0px 0px 5px 0px rgba(243,196,4,1);
      }
    }

    .fieldset-content{
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      &.bordered{
        border-top: 2px solid $grey1;
      }
      p{
        font-size: 20px;
        margin: 0;
        margin-bottom: 20px;
        font-family: 'FreightSansProBook';
        @media( min-width: 600px ){
          font-size: 30px;
        }
      }
      .input-group{
        flex: 1 0 50%;
        margin-bottom: 20px;
        &.group-datepicker{
          flex: 0 0 100%;
        }
      }

    }
  }

}

form.form-contact-info{
  fieldset{
    margin-bottom: 30px;

    .fieldset-content{
      row-gap: 40px;
      column-gap: 16px;
      .input-text{
        flex: 0 1 100%;
        height: 62px;
        @media( min-width: 600px ){
          flex: 0 1 calc( 50% - 8px );
        }
        &.full{
          flex: 0 1 100%;
        }
      }

      .group{
        flex: 0 1 100%;
        @media( min-width: 600px ){
          flex: 0 1 calc( 50% - 16px );
        }
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        p{
          font-size: 16px;
          @media( min-width: 600px ){
            font-size: 24px;
          }
          margin: 0;
        }
        .input-group{
          flex: calc( 50% - 5px );
        }
      }
      .input-group-textarea{
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        textarea{
        }
        p{
          font-size: 12px;
        }
      }

    }
  }

  fieldset.range{
    .fieldset-content{
      gap: 5px;
      input{
        flex: 1 0 auto;
      }
      .divider{
        display: flex;
        align-items: center;
      }
    }
  }

  fieldset.style{
    .fieldset-content{
      gap: 0;
      flex-wrap: nowrap;
      .input-group{
        flex: 0 1 33.33%;
      }
    }
  }

  fieldset.ownership{
    .fieldset-content{
      gap: 0;
      flex-wrap: nowrap;
      .input-group{
        flex: 0 1 33.33%;
      }
    }
  }
}
