@import './vars';

.mat-form-field.custom-style{
  .mat-form-field-wrapper{
    padding: 0;
  }

  .mat-form-field-flex{
    background-color: $white;
    border: 1px solid $yellow;
    border-radius: 3px;
    height: 40px;
    display: flex;
    align-items: center;
    &:hover,&:focus{
      box-shadow: 0px 0px 5px 0px rgba(243,196,4,1);
    }
  }
  .mat-form-field-infix{
    padding: 0;
    border-top: none;
  }

  input.mat-input-element{
    margin: 0;
    padding: 0 10px;
  }
}

.mat-form-field-underline{
  display: none;
}
