<section class="hero hero-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span>Chicagoland’</span>
          <strong>RELOCATION</strong>
          <strong>EXPERTS</strong>
        </h2>
      </div>
      <div class="col">
        <p>We know moving is never easy— especially
          when you’re relocating. That’s why we’re here
          to make it easier. We have one of the largest
          and most experienced departments in the area,
          and our expert agents all live and work in
          Chicagoland. They understand the relocation
          process and are passionate about helping you
          make this community your home.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span><b>Highly trained</b> agent</span>
          <strong>MAKE YOUR</strong>
          <strong>MOVE EASIER</strong>
        </h2>
      </div>
      <div class="col">
        <p>When you work with Baird & Warner, you don’t have to
          worry about finding the right agent to help you with your
          move — we take care of that for you. Following a
          conversation about your goals, we pair you with a full-time
          agent who specializes in working with relocation client</p>
        <p>Only a handful of almost 2,500 agents are selected to be
        part of our Relocation department. Every agent needs a
        minimum 2 years of experience, closed a certain amount of
        business within the last year, and is recommended by their
        manager. And once joining our team, they go through
        rigorous and continuous training to ensure they can handle
        any situation you may encounter during your relocation
        experience. You can rest assured you’re getting a true
        expert on your side.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span>What you can <b>expect</b> when</span>
          <strong>WORKING WITH</strong>
          <strong>OUT TEAM</strong>
          <span>Our goal is to make sure you have the easiest
            relocation process possible — and that starts with
            pairing you with the right agent for your situation</span>
        </h2>
      </div>
      <div class="col">
        <h3>First, we get to know you</h3>
        <p>One of our relocation experts will do an initial assessment
          to get to know you and your needs. We’ll ask questions like
          where your job is located and what kind of commute you
          hope for, what sort of home you’re looking for, what your
          budget is, and more.</p>
          <h3>Pairing you with an agent.</h3>
          <p>Once we hone in on communities that fit your needs, we
            will select an agent that’s an expert in that area, as well as
            the right fit for you. Our team sets up the introduction with
            the agent, and we remain available as for additional support
            throughout the entire process.</p>
            <h3>Working with your agent.</h3>
            <p>Your agent is well-versed in the relocation process and
              understands what you’re going through. They’re there to be
              your advocate, support system, and guide while navigating
              the local market and relocation process.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-4">
  <div class="container">

    <div class="row">

      <div class="col">
        <h2 class="section-title">
          <span>Hear from our <b>CEO Steve Baird</b>
            about how Baird & Warner is</span>
          <strong>THERE TO SUPPORT YOU</strong>
          <span>through the relocation process.</span>
        </h2>
      </div>

      <div class="col">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>

    </div>
  </div>
</section>

<section class="hero hero-5">
  <div class="bg"></div>
  <div class="container">

    <div class="row">

      <div class="col">
        <h2 class="section-title">
          <strong>167 YEARS OF
            EXPERIENCE</strong>
          <span>on your side</span>
        </h2>
      </div>

      <div class="col">
        <p>As a full service residential real estate services company,
          we have everything you need to make your move. With
          more than 167 years of experience in Chicagoland, we
          know this city and its surrounding suburbs better than
          anyone else. We’ve even helped build some of the
          communities. We continually invest in our people, new
          technology and tools to provide you with the very best
          and <b>easier</b> experience.</p>
      </div>

    </div>
  </div>
</section>

<section class="hero hero-6">
  <div class="container">

    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>MAKING A DIFFERENCE</strong>
        </h2>
        <p>On top of investing in ongoing training and development
          for the entire relocation team, Baird & Warner is also an
          active member in local and national relocation
          organizations. As a brokerage, we’re not just following
          the trends in the industry — we’re helping shape them.</p>
      </div>
    </div>

  </div>
</section>
