section.hero-1{
  background-color: #FFDF00;
  background-image: url('../../assets/images/why-relo/hero-1.jpg');
  background-position: left bottom;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;

}

section.hero-2{
  background-color: #FFDF00;
  background-image: url('../../assets/images/why-relo/hero-2.png');
  background-position: left bottom;
  background-size: contain;

  // elements
  h2{
    strong{
      color: #F4C500;
    }
  }
}

section.hero-3{
  background-image: url('../../assets/images/why-relo/hero-3.jpg');
  background-position: left bottom;
  background-size: contain;
}

section.hero-4{
  background-image: url('../../assets/images/why-relo/hero-4.jpg');
  background-position: left bottom;
  background-size: cover;
}
