<section class="hero hero-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span>Chicagoland’</span>
          <strong>RELOCATION</strong>
          <strong>EXPERTS</strong>
        </h2>
      </div>
      <div class="col">
        <p>We know moving is never easy— especially
          when you’re relocating. That’s why we’re here
          to make it easier. We have one of the largest
          and most experienced departments in the area,
          and our expert agents all live and work in
          Chicagoland. They understand the relocation
          process and are passionate about helping you
          make this community your home.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <span>Highly trained agent</span>
          <strong>MAKE YOUR</strong>
          <strong>MOVE EASIER</strong>
        </h2>
      </div>
      <div class="col">
        <p>When you work with Baird & Warner, you don’t have to
          worry about finding the right agent to help you with your
          move — we take care of that for you. Following a
          conversation about your goals, we pair you with a full-time
          agent who specializes in working with relocation client</p>
        <p>Only a handful of almost 2,500 agents are selected to be
        part of our Relocation department. Every agent needs a
        minimum 2 years of experience, closed a certain amount of
        business within the last year, and is recommended by their
        manager. And once joining our team, they go through
        rigorous and continuous training to ensure they can handle
        any situation you may encounter during your relocation
        experience. You can rest assured you’re getting a true
        expert on your side.</p>
      </div>
    </div>
  </div>
</section>
