
<header>
  <div class="container">
    <app-nav-header></app-nav-header>
  </div>
</header>

<main>

  <section class="hero hero-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-title">
            <span>We make <b>your</b></span>
            <strong>move easier</strong>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Relocating can be an <b>exciting</b> and <b>challenging</b> and as one of the largest and most experienced relocation teams in Chicagoland, we have everything you need to find the place you can call <b>home</b>.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="hero hero-2">
    <div class="container">

      <div class="row">
        <div class="col">
          <h2 class="section-title">
            <span>We’re <b>your</b></span>
            <strong>Chicagoland experts</strong>
          </h2>
        </div>

        <div class="col">
          <p><b>With more than 160 years of experience</b> and one of the first to establish a dedicated relocation department, we know a few things about what it takes to move from one city to another.</p>
          <a class="button" href="/">Learn more</a>
        </div>
      </div>

    </div>
  </section>

  <section class="hero hero-3">
    <div class="container">

      <div class="row">
        <div class="col">
        </div>

        <div class="col">
          <h2 class="section-title">
            <span>What you <b>need to know</b> about</span>
            <strong>Illinois</strong>
            <strong>real estate</strong>
          </h2>
          <p>Before you get started looking for your dream home, let’s take a look at what goes into buying a home in Illinois. </p>
          <a class="button" href="/">Learn more</a>
        </div>
      </div>

    </div>
  </section>

  <section class="hero hero-4">
    <div class="container">

      <div class="row">

        <div class="col">
          <h2 class="section-title">
            <strong>Explore</strong>
            <strong>Chicagoland</strong>
            <span>and <b>all</b> it has to offer.</span>
          </h2>
          <p>Relocating is a big change, and there’s a lot that goes into finding the right place to settle. With hundreds of neighborhoods and communities in Chicagoland, it can be difficult to know where to start — we're here to help.</p>
          <a class="button" href="/">Explore Today</a>
        </div>
      </div>

      <div class="col">
      </div>

    </div>
  </section>

  <section class="hero hero-5">
    <div class="container">

      <div class="row">

        <div class="col">
        </div>

        <div class="col">
          <h2 class="section-title">
            <span>Find the <b>community</b></span>
            <span>that feels like</span>
            <strong>HOME</strong>
          </h2>
          <p>With our smartsearch community finder, you can search by lifestyle, commute, shopping and more. Our goal is to go beyond helping you find a house — let's find a community that feels like home.</p>
          <a class="button" href="/">Search Now</a>
        </div>
      </div>

    </div>
  </section>

  <section class="hero hero-6">
    <div class="container">

      <div class="row">

        <div class="col">
          <h2 class="section-title">
            <span>How <b>you</b> will</span>
            <strong>Benefit</strong>
            <span>from our <b>relocation-trained realtor.</b></span>
          </h2>
          <p><b>We pair you with an agent specially trained</b> to meet the needs of clients relocating to Chicagoland. Find out how their expertise can make your experience easier.</p>
          <p><b>Baird & Warner was one of the first brokerages in the area to have a dedicated relocation department</b>, and since then, we’ve continued to grow in both experience and size. Learn why that matters to you.</p>
        </div>

        <div class="col">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>

      </div>
    </div>
  </section>

  <section class="hero hero-7">
    <div class="container">
      <div class="row">

        <div class="col col-full">
          <h2 class="section-title">
            <span>Meet <b>your</b></span>
            <strong>Relocation Team</strong>
          </h2>
        </div>

        <div class="col">
          <p><b>When you work with Baird & Warner</b>, you’re connected to Illinois’ largest family-owned  independent brokerage with the largest relocation department in the area.</p>
          <p>Find out what we can do for you.</p>
          <a class="button" href="/">Why Relo</a>
        </div>
        <div class="col"></div>

      </div>
    </div>
  </section>

</main>

<footer>
  <div class="container">
    <app-nav-footer></app-nav-footer>
  </div>
</footer>
