
<header>
  <div class="container">
    <app-nav-header></app-nav-header>
  </div>
</header>

<main>
  <section class="section-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-title">
            <span>We make <b>your</b></span>
            <strong>move easier</strong>
          </h2>
          <p>Relocating can be an exciting and challenging and as one of the largest and most experienced relocation teams in Chicagoland, we have everything you need to find the place you can call home. </p>
        </div>
      </div>
    </div>
    </section>
</main>

<footer>
  <div class="container">
    <app-nav-footer></app-nav-footer>
  </div>
</footer>
