<section class="hero hero-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>UNDERSTANDING</strong>
          <strong>ILLINOIS</strong>
          <strong>REAL ESTATE</strong>
          <span>Let’s take a look at what goes</span>
          <span>into buying a <b>home in Illinois</b></span>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-2">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2 class="section-title">
          <strong>WORKING WITH ATTORNEYS</strong>
        </h2>
        <p>Illinois is one of three states in the country that requires
          buyers to hire an attorney for the closing. Purchasing a
          home is one of the biggest financial decisions you can
          make, and your attorney is there to review your contract
          before finalizing the sale, as well as assist your agent and
          you with anything that can arise during the homebuying
          process.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-3">
  <div class="container">
    <div class="row">

      <div class="col">
        <h2 class="section-title">
          <strong>AGENT REPRESENTATION</strong>
        </h2>
        <p>Illinois is a “Designated Agency” state, which means your
          agent has a fiduciary responsibility to represent you and
          your interests. This needs to be clearly disclosed in writing,
          typically when you are presented a buyer agreement.</p>
          <p>In Illinois, it is also legal for an agent to work under aDual
          Agency status. That occurs when an agent has both the
          buyer and the seller in the transaction. In this situation,
          both must consent to dual agency, and the agent cannot
          represent either party in the negotiations stage of the
          transactions.</p>
      </div>

      <div class="col">
        <div class="bg"></div>
      </div>

    </div>
  </div>
</section>

<section class="hero hero-4">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2 class="section-title">
          <strong>PROPERTY TAXES</strong>
        </h2>
        <p>Property taxes are paid in arrears, meaning they are due
          one year after they are assessed. When you buy a home,
          you will typically receive a credit from the seller for unpaid
          taxes not yet due. This is something you’ll negotiate with
          the seller during the transaction.</p>
          <p>It is also important to note that property tax rates differ
          based on county, city, or village, and assessments happen
          every 3 to 4 years depending on the location.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero hero-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">
          <strong>HOME INSPECTIONS</strong>
        </h2>
        <p>As a full service residential real estate services company,
          we have everything you need to make your move. With
          more than 167 years of experience in Chicagoland, we
          know this city and its surrounding suburbs better than
          anyone else. We’ve even helped build some of the
          communities. We continue to invest in new technology
          and tools to provide you with a better experience.</p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>

<section class="hero hero-6">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2 class="section-title">
          <strong>NAVIGATING SCHOOL OPTIONS</strong>
        </h2>
        <p>As a full service residential real estate services company,
          we have everything you need to make your move. With
          more than 167 years of experience in Chicagoland, we
          know this city and its surrounding suburbs better than
          anyone else. We’ve even helped build some of the
          communities. We continue to invest in new technology
          and tools to provide you with a better experience.</p>
      </div>
    </div>
  </div>
</section>
