@import '../../styles/vars';

section.hero-1{
  background-color: #FFDF00;
  background-image: url('../../assets/images/illinois-law/hero-1.png');
  background-position: right top;
  background-size: auto 120%;

  // layout
  >.container{
    >.row{
      >.col{
        flex: 0 0 100%;
      }
    }
  }

  // elements
  h2{
    strong{
      color: #F4C700;
      font-size: 50px;
      @media ( min-width: 768px ){
        font-size: 70px;
      }
      @media ( min-width: 1200px ){
        font-size: 120px;
      }
      &:last-of-type{
        margin-bottom: 40px;
      }
    }
    span{
      line-height: 1.2;
    }
  }
}

section.hero-2{
  background-image: url('../../assets/images/illinois-law/hero-2.jpg');
  background-position: left top;
  background-size: cover;
  @media( min-width: 992px){
    background-size: contain;
	}
}

section.hero-3{
  background-color: #FFDF00;
  padding: 0;
  // layout
  >.container{
    >.row{
      overflow: visible;
      >.col{
        background-repeat: no-repeat;
        padding: 50px 0;
      }
      >.col:nth-child(1){
        flex: 0 1 100%;
        @media ( min-width: 1200px ){
          flex: 0 1 70%;
        }
      }
      >.col:nth-child(2){
        flex: 0 1 100%;
        height: 300px;
        overflow: visible;
        position: relative;
        @media ( min-width: 1200px ){
          flex: 0 1 30%;
          height: auto;
        }
        .bg{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50vw;
          height: 100%;
          background-image: url('../../assets/images/illinois-law/hero-3.png');
          background-repeat: no-repeat;
          background-position: left bottom;
          background-size: auto 100%;
        }
      }
    }
  }

  // elements
  h2{
    strong{
      color: #F4C700;
    }

    span{
      line-height: 1.2;
    }
  }
}

section.hero-4{
  background-color: #FFDF00;
  background-image: url('../../assets/images/illinois-law/hero-4.jpg');
  background-position: right top;
  background-size: cover;

  // elements
  p{
    color: $white;
  }
}

section.hero-5{
  background-color: #FFDF00;
  background-image: url('../../assets/images/illinois-law/hero-5.png');
  background-position: right bottom;
  background-size: contain;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: $white;
    top: 0;
    left: 0;
  }

  @media ( min-width: 1200px ){
    background-size: 50% auto;
  }

  // layout
  >.container{
    >.row{
      >.col{
        overflow: visible;
      }
      >.col:nth-child(2){
        height: 400px;
        @media ( min-width: 1200px ){
          height: auto;
        }
      }
    }
  }

  // elements
  h2{
    strong{
      color: #F4C700;
    }
  }
}

section.hero-6{
  background-image: url('../../assets/images/illinois-law/hero-6.jpg');
  background-position: left bottom;
  background-size: auto 100%;

  // layout
  >.container{
    >.row{
      >.col:nth-child(1){
        flex: 0 1 30%;
      }
      >.col:nth-child(2){
        flex: 1 1 70%;
      }
    }
  }

}
