@import '../../styles/vars';

.nav-footer{
  display: flex;
  flex-direction: column;
  color: $white;
  padding-bottom: 50px;
  @media ( min-width: 1200px ){
    padding-bottom: 100px;
  }

  .footer-top{
    margin-bottom: 20px;
    ul{
      display: flex;
      padding: 30px 0;
      flex-wrap: wrap;
      li{
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        a{
          padding: 0 20px;
          text-align: center;
          transition: 0.3s color;
          &:hover{
            color: $main;
          }
        }
      }

      @media ( min-width: 1200px ){
        flex-wrap: nowrap;
        li{
          flex: 0 0 auto;
          &:first-child{
            a{
              padding-left: 0;
            }
          }
          &:last-child{
            a{
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .footer-middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    flex-wrap: wrap;
    @media ( min-width: 1200px ){
      flex-wrap: nowrap;
    }

    a{
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      img{
        width: 200px;
      }
      @media ( min-width: 1200px ){
        flex: 0 0 auto;
        margin-bottom: 0;
      }
    }

    // menu links
    ul{
      display: flex;
      text-transform: uppercase;
      flex: 1 0 100%;
      justify-content: center;
      flex-wrap: wrap;
      li{
        flex: 1 0 100%;
        a{
          padding: 0 10px;
          position: relative;
          letter-spacing: 2px;
        }
      }
      @media ( min-width: 540px ){
        flex-wrap: nowrap;
        li{
          flex: 0 0 auto;
          &:not(:last-child){
            a:before{
              position: absolute;
              content: '';
              right: 0;
              top: 0;
              height: 100%;
              width: 2px;
              background-color: $main;
            }
          }
          &:last-child{
            a{
              padding-right: 0;
            }
          }
        }
      }
      @media ( min-width: 1200px ){
        flex: 0 0 auto;
      }
    }
  }

  .footer-bottom{
    display: flex;
    justify-content: space-between;
    color: #6b6b6b;
    flex-wrap: wrap;
    @media ( min-width: 1200px ){
      flex-wrap: nowrap;
    }

    p.copyrights{
      flex: 1 0 100%;
      text-align: center;
      order: 1;
      @media ( min-width: 1200px ){
        flex: 0 0 auto;
        order: 0;
      }
    }
    .image-wrapper{
      display: flex;
      flex: 1 0 100%;
      justify-content: center;
      order: 0;
      @media ( min-width: 1200px ){
        flex: 0 0 auto;
        order: 1;
      }
    }
  }

}
