<div class="nav-footer">
  <div class="footer-top">
    <ul>
      <li><a href="/">Baird & Warner Home</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Contact Us</a></li>
      <li><a href="/">About Baird & Warner</a></li>
      <li><a href="/">Good Will Works</a></li>
      <li><a href="/">Baird & Warner Story</a></li>
      <li><a href="/">Top Workplace</a></li>
    </ul>
  </div>

  <div class="footer-middle">
    <a href="/"><img src="./assets/images/footer/footer-logo-2.png" alt=""></a>
    <ul>
      <li><a href="/">Sales</a></li>
      <li><a href="/">Mortgage</a></li>
      <li><a href="/">Title</a></li>
    </ul>
  </div>

  <div class="footer-bottom">
    <p class="copyrights">© 2022 Baird & Warner Real Estate. All Rights Reserved.</p>
    <div class="image-wrapper">
      <img src="./assets/images/footer/footer-logo-1.png" alt="">
    </div>

</div>
